In [9]:
power_level_list = [1234, 543, 8978, 7888, 98, 678, 98989]

def greaterthan_1000(x):
    for val in power_level_list:
        if x>1000:
            return True
        return False
    
mapped = map(greaterthan_1000, power_level_list)

In [10]:
print(mapped)

<map object at 0x00000219B00CFFD0>

In [11]:
for m in mapped:
    print(m)

True
False
True
True
False
False
True

In [12]:
mapped = [*map(greaterthan_1000, power_level_list)]
print(mapped)

[True, False, True, True, False, False, True]

In [13]:
mapped=[*map(lambda x: x>1000, power_level_list)]
print(mapped)

[True, False, True, True, False, False, True]

## How to use apply() in Pandas

In [20]:
pip install pandas

Collecting pandas
  Downloading pandas-2.0.3-cp310-cp310-win_amd64.whl (10.7 MB)
Collecting pytz>=2020.1
  Using cached pytz-2023.3-py2.py3-none-any.whl (502 kB)
Collecting numpy>=1.21.0
  Downloading numpy-1.25.1-cp310-cp310-win_amd64.whl (15.0 MB)
Collecting tzdata>=2022.1
  Using cached tzdata-2023.3-py2.py3-none-any.whl (341 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\sowmy\appdata\roaming\python\python310\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\sowmy\appdata\roaming\python\python310\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: tzdata, pytz, numpy, pandas
Successfully installed numpy-1.25.1 pandas-2.0.3 pytz-2023.3 tzdata-2023.3
Note: you may need to restart the kernel to use updated packages.

  WARNING: The script f2py.exe is installed in 'c:\Users\sowmy\AppData\Local\Programs\Python\Python310\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.
WARNING: You are using pip version 21.2.3; however, version 23.2.1 is available.
You should consider upgrading via the 'c:\Users\sowmy\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [22]:
import pandas as pd

data = pd.DataFrame({"power_level":[12000,16000,13000,4000],
                     "uniform color":["orange", "green", "blue", "pink"],
                     "species":["saiyan", "saiyan", "human", "half saiyan"]},
                     index=["goku", "Vegeta", "Nappa", "Gohan"])

In [23]:
data.head()

        power_level uniform color      species
goku          12000        orange       saiyan
Vegeta        16000         green       saiyan
Nappa         13000          blue        human
Gohan          4000          pink  half saiyan

Use .apply() to apply a function to a Series (Single column)

In [24]:
def my_function(x, h, l):
    if x>h:
        return "high"
    if x>l:
        return "med"
    return "low"

data['power_level'].apply(my_function, args=[14000, 12000])

goku       low
Vegeta    high
Nappa      med
Gohan      low
Name: power_level, dtype: object

Apply a functin to each column with axis=0

can be used to create new rows/summary rows

In [25]:
def mode(x):
    return x.mode()

data.apply(mode, axis=0)

   power_level uniform color species
0         4000          blue  saiyan
1        12000         green     NaN
2        13000        orange     NaN
3        16000          pink     NaN

Apply a function to each row with axis=1

Can be used to create new columns/summary columns

In [26]:
def max_str_len(x):
    return max(len(str(v)) for v in x)

data.apply(max_str_len, axis=1)

goku       6
Vegeta     6
Nappa      5
Gohan     11
dtype: int64

How to use applymap() in Pandas

In [27]:
import pandas as pd

data = pd.DataFrame({"power_level": [12000, 16000, 4000, 1500, 3000, 
                                     2000, 1600, 2000],
                     "uniform color": ["orange", "blue", "black", "orange",
                                       "purple", "green", "orange", "orange"],
                     "species": ["saiyan","saiyan","saiyan","half saiyan",
                                 "namak","human","human","human"]}, 
                     index = ["Goku","Vegeta", "Nappa","Gohan",
                                   "Piccolo","Tien","Yamcha", "Krillin"])

In [28]:
data

         power_level uniform color      species
Goku           12000        orange       saiyan
Vegeta         16000          blue       saiyan
Nappa           4000         black       saiyan
Gohan           1500        orange  half saiyan
Piccolo         3000        purple        namak
Tien            2000         green        human
Yamcha          1600        orange        human
Krillin         2000        orange        human

Apply a function to all elements in data frame

In [29]:
def str_len(x):
    return len(str(x))

d2=data.applymap(str_len)
d2

         power_level  uniform color  species
Goku               5              6        6
Vegeta             5              4        6
Nappa              4              5        6
Gohan              4              6       11
Piccolo            4              6        5
Tien               4              5        5
Yamcha             4              6        5
Krillin            4              6        5

If all the data is numeric, math operations are broadcast elementwise by default

In [30]:
d2 ** 2

         power_level  uniform color  species
Goku              25             36       36
Vegeta            25             16       36
Nappa             16             25       36
Gohan             16             36      121
Piccolo           16             36       25
Tien              16             25       25
Yamcha            16             36       25
Krillin           16             36       25